<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Welcome - FaceCx </title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>

    <div class="welcome-screen" id="welcomeScreen">
        <img src="static/img/logo-FaceCx.png" alt="FaceCx Logo" style="width: 250px; height: 250px;">
        <h1>Welcome to FaceCx</h1>
        <p>Experience AI-powered customer feedback analysis through facial expressions.</p>
        <button class="get-started-btn" onclick="location.href='/login'">Get Started</button>
    </div>
    
</body>
</html>